<h1>ホーム</h1>

<h3>思い出Map</h3>
<div id="map"></div>
<script>
let map
let marker =[]
let infoWindow = []

function initMap(){
  let markerData = gon.places

  // 初期表示の中心を東京駅に指定．
  map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 35.68123620000001, lng: 139.7671248},
        zoom: 5,
  })

  for (let i = 0; i < markerData.length; i++) {
    let markerLatLng = new google.maps.LatLng({lat: markerData[i]['latitude'], lng: markerData[i]['longitude']})

    // マーカーの表示．
    marker[i] = new google.maps.Marker({
                map: map,
                position: markerLatLng
    })

    // マーカーの吹き出し表示．
    infoWindow[i] = new google.maps.InfoWindow({
    content: `<a href="#">${markerData[i]['location']}</a>`
    });

    markerEvent(i);
  }

  // マーカークリック時に吹き出しを表示.
  function markerEvent(i) {
    marker[i].addListener('click', function() {
      infoWindow[i].open(map, marker[i]);
    })
  }
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>

<br>

<h3>思い出投稿</h3>
<% @posts.each do |post| %>
  <% if post.user_id == current_user.id %>
    <!--current_userの投稿を表示する．-->
    <%= render 'home_posts', post: post %>
  <% else %>
    <% post.groups.each do |group| %>
      <% group.group_users.each do |group_user| %>
        <% if group_user.accepted? && (group_user.user_id == current_user.id) %>
          <!--current_userの所属するグループのメンバーによる投稿，かつ，開示対象としてそのグループが指定された投稿を表示する．-->
          <%= render 'home_posts', post: post %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
