<div class="row">
  <% @posts.each do |post| %>
    <% if post.user_id == current_user.id %>
      <!--current_userの投稿を表示する．-->
      <%= render 'index_posts', post: post %>
    <% else %>
      <% post.groups.each do |group| %>
        <% group.group_users.each do |group_user| %>
          <% if group_user.accepted? && (group_user.user_id == current_user.id) %>
            <!--current_userの所属するグループのメンバーによる投稿，かつ，開示対象としてそのグループが指定された投稿を表示する．-->
            <%= render 'index_posts', post: post %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
